<div class="row">
    <div class="edit-form col-md-6">
        <h4>{{user.id ? 'Editar Usuario' : 'Crear Usuario'}}</h4>
        <form>
            <input type="hidden" id="id" [(ngModel)]="user.id" name="id" />
            <div class="form-group">
                <label for="firstName">Primer Nombre</label>
                <input required minlength="3" maxlength="10" type="text" class="form-control" id="firstName"
                    [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" />
                <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                    <div *ngIf="firstName.errors.required">El primer nombre es requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label for="secondName">Segundo Nombre</label>
                <input type="text" class="form-control" id="secondName" [(ngModel)]="user.secondName"
                    name="secondName" />
            </div>
            <div class="form-group">
                <label for="firstSurname">Primer Apellido</label>
                <input type="text" class="form-control" id="firstSurname" [(ngModel)]="user.firstSurname"
                    name="firstSurname" #firstSurname="ngModel" required />
                <div class="alert alert-danger" *ngIf="firstSurname.touched && !firstSurname.valid">
                    <div *ngIf="firstSurname.errors.required">El primer apellido es requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label for="secondSurname">Segundo Apellido</label>
                <input type="text" class="form-control" id="secondSurname" [(ngModel)]="user.secondSurname"
                    name="secondSurname" #secondSurname="ngModel" required />
                <div class="alert alert-danger" *ngIf="secondSurname.touched && !secondSurname.valid">
                    <div *ngIf="secondSurname.errors.required">El segundo apellido es requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label for="numberId">Número de Identificación</label>
                <input type="number" class="form-control" id="numberId" [(ngModel)]="user.numberId" name="numberId" #numberId="ngModel" required />
                <div class="alert alert-danger" *ngIf="numberId.touched && !numberId.valid">
                    <div *ngIf="numberId.errors.required">El número de identificación</div>
                </div>
            </div>
            <div class="form-group">
                <label for="age">Edad</label>
                <input type="number" class="form-control" id="age" [(ngModel)]="user.age" name="age" />
            </div>

            <div class="form-group">
                <label for="gender">Género</label>
                <select name="gender" [(ngModel)]="user.gender" class="form-control" #gender="ngModel" required >
                    <option [value]="null" disabled>Seleccione el género</option>
                    <option *ngFor="let gender of genders" [value]="gender">{{gender.name}}</option>
                </select>
                <div class="alert alert-danger" *ngIf="gender.touched && !gender.valid">
                    <div *ngIf="gender.errors.required">El género es requerido</div>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email" />
            </div>
            <div class="form-group">
                <label for="cellPhone">Número de Celular</label>
                <input type="number" class="form-control" id="cellPhone" [(ngModel)]="user.cellPhone"
                    name="cellPhone" />
            </div>

            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" />
            </div>

            <div class="form-group">
                <label><strong>Estado:</strong></label>
                {{ user.state ? "Activo" : "Inactivo" }}
            </div>
        </form>

        <button class="btn btn-secondary mr-2" routerLink="/users">
            Regresar </button>
        <button type="submit" class="btn btn-success" (click)="saveUser()">
            Save
        </button>
    </div>
</div>