<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="/">Administración de usuarios</a>

          <div *ngIf="user" class="collapse navbar-collapse" >
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item ">
                      <a class="nav-link" href="/users">Usuarios</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/form">Crear</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" (click)="logout()">Salir</a>
                </li>
              </ul>

              
          </div>
      </div>
  </nav>

  <div class="container mt-3">
      <router-outlet></router-outlet>
  </div>
</div>