
<div class="list row">
    <div class="col-md-6">
        <h4>Lista de usuarios</h4>
        <ul class="list-group">
            <li
                    class="list-group-item"
                    *ngFor="let user of users; let i = index"
                    [class.active]="i == currentIndex"
                    (click)="setSelected(user, i)">

                {{user.firstName + "  "+ user.secondName +" "+ user.firstSurname +" "+ user.secondSurname}}
            </li>
        </ul>

        <div *ngIf="!users || users.length == 0">
            no existen usuarios <a href="/form">Adicionar nuevo usuario</a>
        </div>

        <a *ngIf="users && users.length > 0" class="btn btn-link" routerLink="/form">
            Adicionar nuevo usuario
        </a>
    </div>
</div>
<br>
<div class="list row">
    <div class="col-md-6">
        <div *ngIf="selected">
            <h4>Previsualización</h4>
            <div>
                <label><strong>Nombres:</strong></label> {{ selected.firstName}}  {{ selected.firstSurname}}
            </div>
            <div>
                <label><strong>Identificación</strong></label>
                {{ selected.numberId }}
            </div>
            <div>
                <label><strong>Estado:</strong></label>
                {{ selected.state ? "Activado" : "Inactivo" }}
            </div>

            <a class="btn btn-sm btn-secondary mr-2" routerLink="/form/{{ selected.id }}">
                Editar
            </a>

            <button class="btn btn-sm btn-danger mr-2" (click)="deleteUser()">
                Eliminar
            </button>

            <button
                    class="btn btn-sm btn-warning mr-2"
                    *ngIf="selected.id && selected.state"
                    (click)="activateUser(false)">
                Inactivar
            </button>
            <button
                    *ngIf="selected.id && !selected.state"
                    class="btn btn-sm btn-warning mr-2"
                    (click)="activateUser(true)">
                Activar
            </button>
        </div>

        <p>{{ message }}</p>
    </div>
</div>